*{
  font-variant: small-caps;
  
 }

.section {
      text-align: center;
    
    }

.heading {
  font-size: 6em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

    .text {
      font-size: 35px;
      text-align: center;
      margin-top: 15px;
      margin-right: 200px;
      margin-left: 200px;
      text-align: justify;
      
    }


    .t3 {
     font-size: 60px;
    text-align: center; 
    margin-bottom: 10px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    p {
      font-size: 15px;
      text-align: center;
      margin-right: 200px;
      margin-left: 200px;
      text-align: justify;
      font-style: italic;
    }


    .author {
      font-size: 35px;
      text-align: center;
      margin-right: 200px;
      margin-left: 200px;
      text-align: justify;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
      
    }



/*graph*/


.ct-chart {
  margin-right: 200px;
  margin-left: 200px;
  width: 1000px;
  height: 500px;
}

