.first h1{
	color: #ffffff;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;  
	font-size: 22px; 
	text-align: center;
}

.first p{
	color: #ffffff;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 14px; 
	text-align: center;

}


body {
	background-color: #000000;
}

